.four-corners {
  position: fixed;
  z-index: 1000001;
  background: white;
}

.four-corners.top-left {
  top: 0;
  left: 0;
  text-align: center;
  pointer-events: none;
}

.four-corners.top-right {
  top: 0;
  right: 0;
}

.four-corners.bottom-left {
  bottom: 0;
  left: 0;
}

.four-corners.bottom-left {
  bottom: 0;
  right: 0;
}
