.four-corners {
  position: fixed;
  z-index: 1000001;
  background: black;
  color: white;
  font-family: sans-serif;
  font-size: 120px;
}

.four-corners.top-left {
  top: 16px;
  left: 16px;
  text-align: center;
  pointer-events: none;
}

.four-corners.top-right {
  top: 16px;
  right: 16px;
}

.four-corners.bottom-left {
  bottom: 16px;
  left: 16px;
}

.four-corners.bottom-right {
  bottom: 16px;
  right: 16px;
}
