.overlay-text-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.overlay-text-inner {
    display: inline-block;
    margin: 0 auto;
    padding: 1em;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: black;
    border: 12px solid black;
    border-radius: 50%;
}
